.modal-container{
    @apply bg-black bg-opacity-50 absolute h-screen w-full z-50 flex justify-center items-center
}

.modal{
    animation: modalOpen 250ms ease-in-out forwards;
    @apply bg-white w-full max-w-lg p-6 rounded-2xl
}

.modal-header{
    @apply text-xl flex justify-between mb-4 font-bold uppercase
}

.modal-close{
    @apply hover:text-system-error-dark transition-colors duration-150
}

@keyframes modalOpen {
    from{
        opacity: 0;
        transform: translateY(-20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}